body{
	font-family:arial;
	font-size:12px;
	color:#1e5474;
	background-color:#f2f4f7 !important;
	margin:0px;
}
.cotainer-fluid{
    background-color: #CACACB;
}
#container {
    width: 1100px;
    height: auto;
    margin: 0px auto;
    padding: 10px;
}

#header {
    margin-top: 20px;
    background-color: #DFE2E9;
}

#header #menu {
    background: #DFE2E9;
    padding: 5px 10px;
    overflow: hidden;
}

#header#menu #user {
    float: left;
}

#header #menu #user a {
    color: black;
    padding-right: 5px;
    margin-top: 5px;
    display: inline-block;
    text-decoration: none;
}

#container #header #menu #user a#button-keranjang {}

#container #header #menu #button-keranjang {
    float: right;
    background: white;
    padding: 2px 10px;
    border-radius: 3px;
}

#container #header #menu #button-keranjang img {
    vertical-align: bottom;
}

#footer {
    margin-left: 1%;
    width: 1325px;
    background: #DFE2E9;
    margin-top: 2%;
    border: 2px black;
}

#footer p {
    color: white;
    text-align: right;
    font-size: 10px;
    font-style: italic;
    margin: 0px;
}

#container #content {
    padding: 10px 0px;
    overflow: hidden;
}


#container-user-akses {
    width: 350px;
    height: auto;
    margin: 50px auto;
}

.element-form {
    margin-bottom: 15px;
}

.element-form label {
    display: block;
    font-weight: bold;
}

.element-form span {
    display: block;
}

.element-form span input[type="text"],
.element-form span input[type="password"],
.element-form span textarea,
.element-form span select {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}

.element-form span input[type="submit"] {
    background: #1e5474;
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 3px;
    font-size: 9px;
    cursor: pointer;
}

.element-form span input[type="submit"]:hover {
	background:orange
}

.notif {
    background: red;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 10px;
}

#bg-page-profile {
    overflow: hidden;
}

#menu-profile {
    float: left;
    width: 245px;
    background: #1e5474;
}

#menu-profile ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

#menu-profile ul li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
}

#menu-profile ul li a:hover,
#menu-profile ul li a.active {
	background: orange
}

#profile-content {
    float: left;
    width: 835px;
    padding: 10px;
    background: white;
}

.table-list {
    width: 100%;
    border-collapse: collapse;
}

.table-list tr.baris-title {
    background: #E6E6E6;
}

.table-list tr th,
.table-list tr td {
    padding: 10px 7px;
}

.kolom-nomor {
    width: 20px;
    text-align: center;
}

.kiri {
    text-align: left;
}

.tengah {
    text-align: center;
}
.kanan {
    text-align: right;
}

#frame-tambah {
    margin: 10px;
    text-align: right;
}

.tombol-action {
    background: #1e5474;
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 3px;
    font-size: 9px;
}
.tombol-action:hover {
	background:orange;
}

#kiri {
    width: 200px;
    height: auto;
    float: left;
    background-color: #2E429A;
    margin-top: 5%;
}

#menu-kategori ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu-kategori ul li {
    margin-bottom: 5px;
}

#menu-kategori ul li a {
    display: block;
    padding: 10px;
    background: #dde1e2;
    color: #1e5474;
    text-decoration: none;
}

#menu-kategori ul li a:hover {
	background: #e8e8e8;
    width:200px;
}

#kanan {
    margin-top: 2%;
    width: 1050px;
    margin-left: 15px;
    max-height: auto;
    float: left;
}

 #kanan #barang ul {
    list-style: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

#kanan #barang ul li {
    width: 240px;
    padding: 10px 15px;
    margin-bottom: 15px;
    margin-right: 15px;
    float: left;
}

#kanan #barang ul li .price {
    font-size: 15px;
    font-weight: bold;
    text-align: right;
    margin-bottom: 10px;
}

#kanan #barang ul li a img {
    display: block;
    width: 240px;
    max-height: 240px;
    padding: 5%;
}

#kanan #barang ul li .keterangan-gambar {
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    padding: 10px 0px;
    height: 50px;
}

#kanan #barang ul li .keterangan-gambar p {
    text-align: center;
    margin: 5px 0px;
}

#kanan #barang ul li .keterangan-gambar p a {
    font-weight: bold;
    text-decoration: none;
}

#kanan #barang ul li .keterangan-gambar span {
    display: block;
    text-align: center;
}

#kanan #barang ul li .button-add-cart {
    text-align: center;
}

#kanan #barang ul li .button-add-cart a {
    background: #1e5474;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 20px;
    border-radius: 3px;
}

#kanan #barang ul li .button-add-cart a:hover{
    background:orange;
}
#lg{
    margin-left: 10%;
}
#cari{
    margin-top: 2%;
    margin:right;
}
#cart{
    margin-top: 20%;
    margin-left: 10%;
}
.gender{
    margin-top: 20%;
    margin-left: 10%;
    color:#2E429A;
    font-family: Britannic Bold;
    font-size: 150%;
}
.form-inline .form-control {
    display: inline-block;
    width: 80% !important;
    vertical-align: middle;
}
.btn-outline-success  {
    color: white !important;
    background-color: #2E429A !important;
    background-image: none;
    border-color: #2E429A !important;
}
.btn-outline-success:hover  {
    color: white;
    background-color:  #CACACB !important;
    background-image: none;
    border-color: #2E429A !important;
}
.slides{
    margin-top: 3%;
}
.slides img{
    max-height: 500px;
}
.temp{
    margin-top: 2%;
}
.lgo{
    width: 200px;
    height: 80px;
     margin-left: 5%;
}
.Pembayaran{
    max-width: 80px;
    max-height: 50px;
}
#fitur{
    margin-left: 1%;
    width: 1325px;
    background:#f2f4f7;
    margin-top: 2%;
}
.ftr{
    padding:5%;
    background-color:  #DFE2E9;
}
.ftr img{
    max-width: 100px;
    max-height: 100px;
    margin-left: 40%;
}